<!doctype html>
<html ng-app="myApp">
<head>
  <title>From Validation</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>

  <form name="signup_form" novalidate ng-submit="signupForm()" ng-controller="signupController">
    <fieldset>
      <legend>Signup</legend>

      <div class="row">
        <div class="large-12 columns">
          <label for="name">Your Name</label>
          <input type="text"
                 name="name"
                 placeholder="Name"
                 ng-model="signup.name"
                 ng-minlength=3
                 ng-maxlength=20
                 required
                 ng-focus
                 ng-class="{error: signup_form.name.$dirty && signup_form.name.$invalid}"
                 />
          <div class="error"
               ng-show="signup_form.name.$dirty && signup_form.name.$invalid && !signup_form.name.$focused">
            <small class="error"
                   ng-show="signup_form.name.$error.required">
                   Your name is required
            </small>
            <small class="error"
                   ng-show="signup_form.name.$error.minlength">
                   Your name must be at least 3 characters
            </small>
            <small class="error"
                   ng-hide="signup_form.name.$error.minlength"
                   ng-show="signup_form.name.$error.mexlength">
                   Your name cannot be longer than 20 characters
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label for="email">Your email</label>
          <input type="email"
                 placeholder="Email"
                 name="email"
                 ng-model="signup.email"
                 ng-minlength=3 ng-maxlength=20 required />
          <div class="error"
               ng-show="signup_form.email.$dirty && signup_form.email.$invalid && signup_form.submitted">
            <small class="error"
                   ng-show="signup_form.email.$error.required">
                   Your email is required.
            </small>
            <small class="error"
                   ng-show="signup_form.email.$error.minlength">
                   Your email is required to be at least 3 characters
            </small>
            <small class="error"
                   ng-show="signup_form.email.$error.email">
                   That is not a valid email. Please input a valid email.
            </small>
            <small class="error"
                   ng-show="signup_form.email.$error.maxlength">
                   Your email cannot be longer than 20 characters
            </small>
          </div>
        </div>
      </div>

      <div class="large-12 columns">
        <label>Username</label>
        <input type="text"
               placeholder="Desired username"
               name="username"
               ng-model="signup.username"
               ng-minlength=3
               ng-maxlength=20
               ensure-unique="username"
               required />
        <div class="error" ng-show="signup_form.username.$dirty && signup_form.username.$invalid && signup_form.submitted">
          <small class="error" ng-show="signup_form.username.$error.required">Please input a username</small>
          <small class="error" ng-show="signup_form.username.$error.minlength">Your username is required to be at least 3 characters</small>
          <small class="error" ng-show="signup_form.username.$error.maxlength">Your username cannot be longer than 20 characters</small>
          <small class="error" ng-show="signup_form.username.$error.unique">That username is taken, please try another</small>
        </div>
      </div>

      <button type="submit"
              class="button radius">Submit</button>
    </fieldset>
  </form>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js"></script>
  <script src="js/app.js"></script>
</body>
</html>